body, html{
    height: 100%;
    width: 100%;
}

body {
  margin:0;
  min-height:100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.bottom {
  flex:1;
  background-color: #f9f9f9;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:50px;
  padding-top: 50px;
  padding-bottom: 20px;
  letter-spacing: 3px;
}

.subtitle {
  font-family: 'Hind', sans-serif;
  padding-bottom: 15px;
  font-weight: 400;
  font-size:18px;
  letter-spacing: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.subtitle1 {
  font-family: 'Hind', sans-serif;
  padding-bottom: 10px;
  font-weight: 500;
  font-size:18px;
  letter-spacing: 2px;
  color:#9696fe;
}

.pages {
    font-family: 'Hind', sans-serif;
    word-spacing: .25em;
    font-size:20px;
    padding-bottom: 50px;
    letter-spacing: 2px;
    font-weight: 500;
}

.pages a {
  color: #000;
}

.pages a:hover {
  color: #9696fe;
  opacity:1;
  text-decoration: none;
}

.pages a.current {
  color:#9696fe;
}

.workItems {
  padding-top:80px;
  padding-bottom:80px;
}

.workItems h1 {
  padding-bottom: 0px;
} 

.bgW {
  background-color: white;
}

.bgGrey {
  background-color: #f9f9f9;
}

.bgGrey2 {
  background-color: #f9f9f9;
  height:100%;
}

.aboutPadding {
  padding-top:60px;
  padding-bottom: 60px;
}

.portPadding {
  padding-top:40px;
  padding-bottom: 60px;
}

.bttPadding {
  padding-top:40px;
  padding-bottom: 20px;
}

.portAlign {
  padding-left:px;
}

.portAlign2 {
  padding-left:px;
}

.portText {
  font-family: 'Hind', sans-serif;
}

.portSub {
  font-family: 'Hind', sans-serif;
}


p.details b{
  color: #000;
  font-weight: 600;
}

.details a {
  font-family: 'Hind', sans-serif;
  color: #000;
}

.details a:hover {
  font-family: 'Hind', sans-serif;
  color: #9696fe;
}

.detailsT a {
  font-family: 'Hind', sans-serif;
  color: #000;
  opacity:0.75;
}

.detailsT a:hover {
  font-family: 'Hind', sans-serif;
  color: #9696fe;
  opacity:1;
}


.bgWhite {
  background-color: #fff;
}

.infoHead {
  font-family: 'Montserrat', serif;
  letter-spacing: 2px;
}

.infoSub {
  font-family: 'Hind', sans-serif;
  padding-bottom: 30px;
  letter-spacing: 1px;
}

.infoSub2 {
  font-family: 'Hind', sans-serif;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

.infoDesc {
  font-family: 'Hind', sans-serif;
}

.infoDesc2 {
  font-family: 'Montserrat', sans-serif;
  font-size:22px;
}

.infoDesc b {
  font-weight:600;
  color: #9696fe;
}

.readMore{ 
  font-family: 'Hind', sans-serif;
  color:#9696fe;
  font-weight: 500;
}

a.readMore {
  color: #9696fe;
}

a.readMore {
  color: #9696fe;
  opacity:1;
}

.padDown {
  padding-top: 175px;
}


/** Images **/
.sqFix {
  width:100%;
  height:100%;
}

.sqFix2 {
  width:25%;
  height:25%;
  margin:10px;
}

@media only screen and (max-width:768px) {

  .sqFix {
    width:100%;
    height:100%;
  }

  .pages {
    font-family: 'Montserrat', sans-serif;
    word-spacing: .1em;
    font-size:18px;
    padding-bottom: 50px;
    letter-spacing: 1px;
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:40px;
    padding-top: 50px;
    padding-bottom: 20px;
    letter-spacing: 1px;
  }

  .subtitle {
    font-family: 'Hind', sans-serif;
    padding-bottom: 15px;
    font-weight: 400;
    font-size:18px;
    letter-spacing: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
    
}

/* Fade/Animations */

/* First pic */
.animatedPic {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-delay: .5s;
}

/* First Text */
.animatedText {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: .5s;
}

.fadeInPic {
  animation-name: fadeInPic;
}

@keyframes fadeInPic {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.urlLink:hover {
  color: #9696fe;
}

.fa {
  font-size: 18px;
  color:#9696fe;
}

.fa:hover {
  color:#9696fe;
}

.linkText a {
  font-weight: 400;
  font-size:18px;
  color: #000;
  text-decoration: none;
}

.linkText a:hover {
  color: #9696fe;
  text-decoration: none;
}

.contactFont {
  font-size:18px;
}

.contactFont2 {
  font-size:16px;
}

.contactFont3 {
  font-size:16px;
  color:#000;
}

.contactFont3:hover {
  font-size:16px;
  color:#9696fe;
}


.linkSpan {
  white-space: nowrap;
}






/* Debug Ghost CSS Elements Causing Unwanted Scrolling *
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

/** Vertical line down middle for debugging - add to background/body/html *
{
  height:100%;
  width:100%;
  z-index:55;
    position:absolute;
    background: linear-gradient(to right, 
                                transparent 0%, 
                                transparent calc(50% - 0.81px), 
                                black calc(50% - 0.8px), 
                                black calc(50% + 0.8px), 
                                transparent calc(50% + 0.81px), 
                                transparent 100%); 
}
*/